body {
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
    font-size: 16px;
    margin: 0;
}
.header-fix {
    height: 85px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #eee;
    border-bottom: 1px solid #ddd;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.75);
}

.header-container {
    width: 1024px;
    margin: auto;
}

.Container {
    width: 1024px;
    margin: 84px auto 10px;
    border: 1px solid #bbbbbb;
    background-color: #eeeeee;
    border-radius: 5px;
    padding: 10px;
}






.sec1{

aside {
    float: right;
    width: 25%;
    margin-left: 1%;
    margin-right: 0;
    padding: 10px;
    border: 1px solid #bbbbbb;
    background-color: white;
}

aside h3 {
    margin-bottom: 0;
}

aside ul:first-child {
    margin-top: 10px;
}

article {
    text-align: justify;
}


}

.sec2{
    aside {
        float: right;
        width: 25%;
        margin-left: 1%;
        margin-right: 0;
        padding: 10px;
        border: 1px solid #bbbbbb;
        background-color: white;
    }
    
    aside h3 {
        margin-bottom: 0;
    }
    
    aside ul:first-child {
        margin-top: 10px;
    }
    
    article {
        text-align: justify;
    }
    
    .withStyle {
        width: 71%;
        border: 2px solid #597aed;
        background-color: #3d4bff;
        font-family: 'Shadows Into Light', cursive;
    }
    
    .withStyle thead th:nth-child(1) {
        width: 35%;
    }
    
    .withStyle thead th:nth-child(2),
    .withStyle thead th:nth-child(3) {
        width: 20%;
    }
    
    .withStyle thead th:nth-child(4) {
        width: 25%;
    }
    
    .withStyle thead tr,
    .withStyle tfoot tr {
        color: white;
        font-size: 1.5em;
        text-align: left;
        background-image: url('bg-table.jpg');
    }
    
    .withStyle tbody tr:nth-child(odd) {
        background-color: #9ca2ce;
    }
    
    .withStyle tbody tr:nth-child(even) {
        background-color: #7d87e6;
    }
    
    .withStyle tbody th {
        color: #f2f1ec;
        font-size: 1.2em;
    }
    
    .withStyle caption {
        font-size: 1.5em;
        margin: 20px;
        font-style: italic;
        text-align: right;
        color: #0041c3;
        text-align: right;
        letter-spacing: 1px;
    }
}

.sec3{
body {
    font-family: 'Roboto', Helvetica, Arial, Sans-serif;
    font-size: 16px;
    margin: 0;
}



.header-fix {
    height: 85px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #eee;
    border-bottom: 1px solid #ddd;
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.75);
}


.header-container {
    width: 1024px;
    margin: 0 auto;
}


.container {
    width: 1024px;
    margin: 84px auto 10px;
    border-radius: 5px;
    border: 1px solid #bbbbbb;
    background-color: #eeeeee;
    padding: 10px;
}


aside {
    float: right;
    width: 25%;
    margin-left: 1%;
    margin-right: 0;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #bbbbbb;
    background-color: white;
}

aside h3:last-child {
    margin-bottom: 0;
}

aside ul:first-child {
    margin-top: 10px;
}


article {
    text-align: justify;
}


.withStyle {
    width: 71%;
    border: 2px solid #597aed;
    background-color: #3d4bff;
    font-family: 'Ro', cursive;
}

.withStyle thead th:nth-child(1) {
    width: 35%;
}
.withStyle thead{
    font-size: small;
}

.withStyle thead th:nth-child(2),
.withStyle thead th:nth-child(3) {
    width: 20%;
}

.withStyle thead th:nth-child(4) {
    width: 25%;
}

.withStyle thead tr,
.withStyle tfoot tr {
    color: white;
    font-size: 1.5em;
    text-align: left;
    background-image: url('bg-table.jpg');
}

.withStyle tbody tr:nth-child(odd) {
    background-color: #9ca2ce;
}

.withStyle tbody tr:nth-child(even) {
    background-color: #7d87e6;
}

.withStyle tbody th {
    color: #f2f1ec;
    font-size: 0em;
}

.withStyle caption {
    font-size: 1.5em;
    margin: 20px;
    font-style: italic;
    caption-side: bottom;
    color: #0041c3;
    text-align: right;
    letter-spacing: 1px;
}


.datatable-container {
    width: 71%;
}


.datatable-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}


.datatable-container table {
    width: 100%;
    background-color: #ccc;
    border: 1px solid #bbb;
    border-collapse: collapse;
}


.datatable-container table thead th {
    font-size: 1.15em;
    font-weight: bold;
    margin: 5px;
    text-align: center;
    color: #2b2b2b;
    background-color: #ccc;
    border: 1px solid #bbb;
}


.datatable-container thead .sort_asc {
    background-image: url("images/sort_asc.png");
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center right;
}

.datatable-container thead .no_sort {
    background-image: url("images/sort_both.png");
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center right;
}


.datatable-container table caption {
    font-size: 1.3em;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 5px;
    font-style: italic;
    caption-side: top;
    text-align: center;
    letter-spacing: 1px;
    color: #0041c3;
    background-color: #ccc;
    border: 1px solid #bbb;
}


.datatable-container table tbody tr {
    text-align: center;
}


.datatable-container table tbody td {
    font-size: 1em;
    margin-top: 5px;
    margin-bottom: 5px;
}


.datatable-container table tbody tr:nth-child(odd) {
    background-color: #ddd;
}


.datatable-container table tbody tr:nth-child(even) {
    background-color: #eee;
}


.datatable-container table tfoot td {
    margin-top: 5px;
    margin-bottom: 5px;
}
.datatable-container table tfoot th {
   color: black;
}

.datatable-container table tfoot th {
    text-align: right;
    border-right: 1px solid #bbb;
    margin-right: 10px;
}


.datatable-container table tfoot td {
    text-align: center;
    font-weight: bold;
    text-decoration: underline;
}


.datatable-footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}


.datatable-footer-results {
    margin-top: 20px;
}
.foota{
    color: black;
}


.datatable-footer-paginator {
    display: flex;
    list-style: none;
    border-radius: 25 rem;
    flex-direction: row;
    margin-top: 15px;
}
.datatable-footer .link {
    position: relative;
    display: block;
    margin: 0.3rem 0.6rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #0041c3;
    background-color: #fff;
    border: 1px solid #dee2e6;
    text-decoration: none;
}


.datatable-footer .page:first-child .link {
    margin-left: 0;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}


.datatable-footer .link:not(:disabled):not(.disabled) {
    cursor: pointer;
}





}